<ul>
  <li><a href='http://www.eve-markets.net/detail.php?typeid=<%= @blueprint.product_item_id -%>'>EVE Markets</a></li>
  <li><a href='http://eve-central.com/home/quicklook.html?typeid=<%= @blueprint.product_item_id -%>'>EVE Central</a></li>
</ul>

