<h2>HOLY FUCK INDUSTRY TOOLS</h2>
<p>This is some kind of awesome industry toolkit. It's going to end up tracking everything so we can jerk off to lots of statistics about how fucking <%= fagify_text 'AWESOME' -%> we are. 
<p>Some notes:</p>
<ul>
  <li><strong>When you buy or complete BPO research, you must add/update it here</strong>. The BPO list is not refreshed automagically. The EVE API has no means of getting a BP list with ME/PE levels.</li>
  <li>You can add BPs to the corp inventory by finding it in the <%= link_to 'database', bpdb_url -%> and clicking the 'Add to Inventory' button.</li>
  <li>All material values will assume you have PE5 trained. Waste introduced by not having this skill at V is called <em>incompetence waste</em>. Don't be incompetent.</li>
  <li>This app is focusing on tech 1 production. Tech 2 is a very different beast. This bridge can be crossed when we come to it.</li>
</ul>
